.active,.active+svg{
    color: #ba3b0a;
}
button>a{
    width: 100%;
}

button:hover>a,a:hover{
    color: #ba3b0a;
}

.transitionLeft{
    animation: floatLeft .7s ease-out 0.5s 1 forwards;
    position: absolute;
    right: -120%;
}
.transitionRight{
    animation: floatRight .7s ease-out .5s 1 forwards;
    position: absolute;
    left: -120%;
}

@keyframes floatLeft {
    0%{
        right: -120%;
    }
    100%{
        right: 0%;
    }
}

@keyframes floatRight {
    0%{
        left: -120%;
    }
    100%{
        left: 0%;
    }
}