*{
  font-family:'Times New Roman', Times, serif;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d6450ccf; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ba3b0a; 
  }

h2{
  color: #ba3b0a;
}

#slide{
  position: relative !important;
}